.topnav {
  /* styles for topnav */
}

.topnav a {
  /* styles for topnav links */
}

.topnav a:hover {
  /* styles for hovered links */
}

.topnav a.active {
  /* styles for active links */
}

.topnav .icon {
  /* styles for icons in topnav */
}