/* CSS from commit ff1ba14526464e38791a7d2eebc9814dd14f8bee */
/* Restored CSS goes here */

@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
    height: auto;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
  }
}