header {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-top: 30px;
    max-width: 1200px;
    margin: 20px auto;
}

.instalace{
height:25%;
    width:25%;
}

h1,
h2,
h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 200;
    text-align: center;
}

h1 {
    font-size: 3em;
}

body {
    background-color: bisque;
    background-image: url(../img/images.jfif);
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1160px;
    margin: 20px auto;
    border: 1px solid #888;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    background-color: rgba(255, 255, 255, 0.3);
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

table {
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
}

th {
    padding: 10px;
}

.bgRed {
    background-color: rgba(255, 0, 0, 0.1);
}

.bgDarkRed {
    background-color: rgba(255, 0, 0, 0.3);
}

.thead {
    font-weight: bold;
}

.bgGreen {
    background-color: rgba(0, 255, 0, 0.1);
}

.fgWhite {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
}

.rubik-FONT {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
  }
}
